
h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


body {
  background-color: red;
  color: rgb(201, 188, 188);
}

a {
  color: yellow;
}

.pictureCol {
  float: left;
  width: 25%;
  color: black
}

.intro .pictureCol {
  float: left;
  width: 33%;
}


.intro .pictureCol img {
  height: 300px;
  width: 100%;
  display: block;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  object-fit: fill;
}



.pictureCol img {
  
  height: 220px;
  display: block;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  object-fit: fill;
}

.name {
  color:rgb(11, 218, 39);
  font-weight: bold;
}
